
html {
    width: 100%;
    height: 100%;
    font-size: 108px;
}
body {
    margin: 0px;
}


.width-10rem {
    width: 10rem;
    background: fuchsia;
    overflow: hidden;
}
.width-10rem-b {
    width: 10rem;
    background: peru;
    overflow: hidden;
}

.width-1rem {
    width: 1rem;
    background: darkseagreen;
}
.width-5rem {
    width: 5rem;
    background: hotpink;
}
.width-9rem {
    width: 9rem;
    background: lightcyan;
}

.width-75px {
    width: 75px;
    background: steelblue;
}

.width-150px {
    width: 150px;
    background: darkslategray
}

/*
[data-dpr="2"] div {
    font-size: 24px;
}
[data-dpr="3"] div {
    font-size: 36px;
}

[data-dpr="1.5"] input {
    font-size: 24px;
}
[data-dpr="2"] input {
    font-size: 32px;
}
[data-dpr="3"] input {
    font-size: 48px;
}
.f14{font-size: 14px}
[data-dpr="2"] .f14{font-size: 28px}
[data-dpr="3"] .f14{font-size: 42px} 
/**/
